
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RelatedProduct</title>
</head>
<body>
    <div class="row">
        @foreach (var sp in Model)
        {
            <!-- PRODUCT-->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="position-relative mb-3">
                        <div class="badge text-white bg-"></div><a class="d-block" href="@Url.Action("CTSP","Shop",new {id = sp.MaSP })"><img class="img-fluid w-100" src="~/Content/img/@sp.HinhMinhHoa" alt="@sp.TenSP"></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="@Url.Action("ThemGioHang","Cart", new { ms = sp.MaSP, url = Request.Url.ToString() })">Add to cart</a></li>
                            </ul>
                        </div>
                    </div>
                    <h6> <a class="reset-anchor" href="@Url.Action("CTSP","Shop",new {id = sp.MaSP })">@sp.TenSP</a></h6>
                    <p class="small text-danger">@sp.DonGia</p>
                </div>
            </div>
        }

    </div>
</body>
</html>
