@model IEnumerable<WEB.Models.DONDATHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDonHang.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Mã Khách Hàng
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TriGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </th>
               
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TriGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiaoHang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoDH })
        </td>
    </tr>
}

</table>
